<div class="container">
	<div class="row">
		<div class="col-xs-1">
		</div>
        <h1>Welcome to
	    <span class="glyphicon glyphicon-book" aria-hidden="true"></span>
            Bookers !!
        </h1>
    </div>
</div>
