<h1>Welcome to
<br>
<span class="glyphicon glyphicon-book" aria-hidden="true"></span>Bookers !!</h1>

<p>In <span class="glyphicon glyphicon-book" aria-hidden="true"></span>Bookers,</p>
<p>you can share and exchange your opinions , inpressions , and emotions</p>
<p>about varioius books!</p>

<%= link_to "Log in", new_user_session_path %>
<br>
<%= link_to "Sign up", new_user_registration_path %>
